POSTGRES_USER=hrcopilot
POSTGRES_PASSWORD=change_me
POSTGRES_DB=hrcopilot
DATABASE_URL=postgresql+asyncpg://hrcopilot:change_me@db:5432/hrcopilot

DEBUG=false
OPENAI_API_KEY=sk-...
COHERE_API_KEY=

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me
